@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NineTies Headliner';
  src: local('NineTies Headliner'), 
       url('/NinetiesHeadliner-Regular.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Perfectly Nineties';
  src: local('Perfectly Nineties'), 
       url('/PerfectlyNineties-Regular.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Perfectly Nineties';
  src: local('Perfectly Nineties'), 
       url('/PerfectlyNineties-Bold.otf') format('opentype');
  font-weight: bold;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}


/* Apply custom cursor to specific elements */
.custom-cursor {
  cursor: url('cursor.png'), auto;
}
body {
  color: #fafafa;
  background-color: #000000;
  font-family: 'Perfectly Nineties', sans-serif;
  cursor: url('cursor.png'), auto;
}

.section {
  min-height: calc(100svh - 90px); 
  @apply px-2 sm:px-10;      
  margin-bottom: 50px;
}

h1 {
  font-family: 'NineTies Headliner', sans-serif;
  @apply text-2xl sm:text-3xl lg:text-5xl;
}

p {
  @apply tracking-body text-sm sm:text-xl !important;
}

.tracking-body {
  letter-spacing: 0.15em;
}


